<html>

<head>
<title> Check Weather</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="m1">
<h2>{{>header}}</h2>
<h1 class="title"> {{ title1 }}</h1> 
<h1>Country Name :{{country}}</h1>
<hr>
<h1>Latitude :{{latitude}}</h1>
<hr>
<h1> Longtiude :{{longtiude}}</h1>
<hr>
<h1> Current Weather :{{crrentWeather}}</h1>
<hr>
<h1> Temperature :{{temp}}</h1>
</div>
</body>
</html>